.container {
  display: flex;
  flex-direction: row;
}

.formContainer {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.formInput {
  min-width: 250px;
  margin: 0.5rem;
  padding: 0.5rem;
  height: 30px;
  border: 1px solid blueviolet;
  border-radius: 10px;
  font-size: 1rem;
}

button {
  border-radius: 10px;
  background-color: blueviolet;
  color: white;
  min-width: 150px;
  height: 50px;
  margin: 1rem;
}

button:hover {
  background-color: cornflowerblue;
}

.pair {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  color: blueviolet;
  font-weight: 600;
}

h1 {
  color: blueviolet;
  text-transform: uppercase;
}

.team {
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  font-size: 1.5rem;

  color: blueviolet;
  margin: 2rem;
  padding: 1rem;
}
